<h2>User Details</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-warning btn-xs" %></span>
<span><%= link "Back", to: user_path(@conn, :index), class: "btn btn-info btn-xs" %></span>
